## Panel data Regression

In [1]:
import pandas as pd
from linearmodels.panel import PanelOLS

In [2]:
# Load dataset
df_panel = pd.read_excel(r"C:\Users\HP\Downloads\SouthAsianPanelData.xlsx")
df_panel

,Country,Year,Imports,GDP,Remittances,Exports,Consumption,Government Consumption
0,Bangladesh,1991,3.785238e+09,3.095748e+10,7.693657e+08,2.062577e+09,2.644599e+10,1.280504e+09
1,Bangladesh,1992,3.915199e+09,3.170887e+10,9.117599e+08,2.405650e+09,2.731263e+10,1.411432e+09
2,Bangladesh,1993,4.677910e+09,3.316652e+10,1.007375e+09,2.990714e+09,2.908728e+10,1.643016e+09
3,Bangladesh,1994,4.681796e+09,3.376866e+10,1.150881e+09,3.039701e+09,2.934367e+10,1.648978e+09
4,Bangladesh,1995,6.580597e+09,3.793975e+10,1.201664e+09,4.122015e+09,3.295948e+10,1.756567e+09
...,...,...,...,...,...,...,...,...
187,Sri Lanka,2018,2.680144e+10,9.449387e+10,7.043040e+09,2.026539e+10,6.506860e+10,8.135126e+09
188,Sri Lanka,2019,2.456991e+10,8.901498e+10,6.748702e+09,1.942621e+10,6.379681e+10,7.986912e+09
189,Sri Lanka,2020,1.823627e+10,8.444052e+10,7.140414e+09,1.303146e+10,6.179734e+10,8.765883e+09
190,Sri Lanka,2021,2.153965e+10,8.854805e+10,5.522000e+09,1.499396e+10,6.255793e+10,8.374879e+09
191,Sri Lanka,2022,1.862698e+10,7.440358e+10,3.818000e+09,1.598500e+10,5.145748e+10,5.322008e+09

In [3]:
# create a multi_index dataFrame for panel data
df_panel.set_index(['Country', 'Year'], inplace = True)

In [4]:
df_panel

                      Imports           GDP   Remittances       Exports  \
Country    Year
Bangladesh 1991  3.785238e+09  3.095748e+10  7.693657e+08  2.062577e+09
           1992  3.915199e+09  3.170887e+10  9.117599e+08  2.405650e+09
           1993  4.677910e+09  3.316652e+10  1.007375e+09  2.990714e+09
           1994  4.681796e+09  3.376866e+10  1.150881e+09  3.039701e+09
           1995  6.580597e+09  3.793975e+10  1.201664e+09  4.122015e+09
...                       ...           ...           ...           ...
Sri Lanka  2018  2.680144e+10  9.449387e+10  7.043040e+09  2.026539e+10
           2019  2.456991e+10  8.901498e+10  6.748702e+09  1.942621e+10
           2020  1.823627e+10  8.444052e+10  7.140414e+09  1.303146e+10
           2021  2.153965e+10  8.854805e+10  5.522000e+09  1.499396e+10
           2022  1.862698e+10  7.440358e+10  3.818000e+09  1.598500e+10

                  Consumption  Government Consumption
Country    Year
Bangladesh 1991  2.644599e+10            1.280504e+09
           1992  2.731263e+10            1.411432e+09
           1993  2.908728e+10            1.643016e+09
           1994  2.934367e+10            1.648978e+09
           1995  3.295948e+10            1.756567e+09
...                       ...                     ...
Sri Lanka  2018  6.506860e+10            8.135126e+09
           2019  6.379681e+10            7.986912e+09
           2020  6.179734e+10            8.765883e+09
           2021  6.255793e+10            8.374879e+09
           2022  5.145748e+10            5.322008e+09

[192 rows x 6 columns]

In [5]:
# Independent and dependent feature
x = df_panel[['Imports','Remittances','Exports','Consumption','Government Consumption']]
y = df_panel['GDP']

In [6]:
# create a panel regression model
panel_model = PanelOLS(y, x, entity_effects = True, time_effects = True)

C:\Users\HP\anaconda3\Lib\site-packages\linearmodels\panel\model.py:1214: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)

In [7]:
# fit the model
panel_result = panel_model.fit()

In [8]:
panel_result

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                    GDP   R-squared:                        0.9982
Estimator:                   PanelOLS   R-squared (Between):              0.9991
No. Observations:                 169   R-squared (Within):               0.9985
Date:                Tue, Mar 05 2024   R-squared (Overall):              0.9989
Time:                        12:48:27   Log-likelihood                   -4199.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                   1.436e+04
Entities:                           6   P-value                           0.0000
Avg Obs:                       28.167   Distribution:                   F(5,127)
Min Obs:                       16.000
Max Obs:                       32.000   F-statistic (robust):          1.436e+04
                                        P-value                           0.0000
Time periods:                      32   Distribution:                   F(5,127)
Avg Obs:                       5.2812
Min Obs:                       4.0000
Max Obs:                       6.0000

                                   Parameter Estimates
==========================================================================================
                        Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------
Imports                    0.2971     0.1702     1.7462     0.0832     -0.0396      0.6338
Remittances               -1.5485     0.5579    -2.7753     0.0063     -2.6526     -0.4444
Exports                    0.7257     0.2160     3.3591     0.0010      0.2982      1.1531
Consumption                1.0926     0.0637     17.139     0.0000      0.9665      1.2188
Government Consumption     0.3800     0.4140     0.9178     0.3604     -0.4393      1.1992
==========================================================================================

F-test for Poolability: 2.9613
P-value: 0.0000
Distribution: F(36,127)

Included effects: Entity, Time
PanelEffectsResults, id: 0x1eb031cb650

In [9]:
panel_result.std_errors

Imports                   0.170155
Remittances               0.557950
Exports                   0.216029
Consumption               0.063749
Government Consumption    0.414006
Name: std_error, dtype: float64

In [27]:
# Prediction
panel_result.predict()

                 fitted_values
Country    Year
Bangladesh 1991   3.081198e+10
           1992   3.187570e+10
           1993   3.440584e+10
           1994   3.450273e+10
           1995   3.976525e+10
...                        ...
Sri Lanka  2018   8.594961e+10
           2019   8.368747e+10
           2020   7.466991e+10
           2021   8.026408e+10
           2022   6.946782e+10

[169 rows x 1 columns]

## Pooled Regression

In [11]:
from linearmodels.panel import PooledOLS

In [12]:
df = pd.read_excel(r"C:\Users\HP\Downloads\SouthAsianPanelData.xlsx")
df

,Country,Year,Imports,GDP,Remittances,Exports,Consumption,Government Consumption
0,Bangladesh,1991,3.785238e+09,3.095748e+10,7.693657e+08,2.062577e+09,2.644599e+10,1.280504e+09
1,Bangladesh,1992,3.915199e+09,3.170887e+10,9.117599e+08,2.405650e+09,2.731263e+10,1.411432e+09
2,Bangladesh,1993,4.677910e+09,3.316652e+10,1.007375e+09,2.990714e+09,2.908728e+10,1.643016e+09
3,Bangladesh,1994,4.681796e+09,3.376866e+10,1.150881e+09,3.039701e+09,2.934367e+10,1.648978e+09
4,Bangladesh,1995,6.580597e+09,3.793975e+10,1.201664e+09,4.122015e+09,3.295948e+10,1.756567e+09
...,...,...,...,...,...,...,...,...
187,Sri Lanka,2018,2.680144e+10,9.449387e+10,7.043040e+09,2.026539e+10,6.506860e+10,8.135126e+09
188,Sri Lanka,2019,2.456991e+10,8.901498e+10,6.748702e+09,1.942621e+10,6.379681e+10,7.986912e+09
189,Sri Lanka,2020,1.823627e+10,8.444052e+10,7.140414e+09,1.303146e+10,6.179734e+10,8.765883e+09
190,Sri Lanka,2021,2.153965e+10,8.854805e+10,5.522000e+09,1.499396e+10,6.255793e+10,8.374879e+09
191,Sri Lanka,2022,1.862698e+10,7.440358e+10,3.818000e+09,1.598500e+10,5.145748e+10,5.322008e+09

In [20]:
df_pooled = df[df['Year'] == 2021]

In [21]:
df_pooled.set_index(['Country','Year'], inplace = True)

In [22]:
df_pooled

,,Imports,GDP,Remittances,Exports,Consumption,Government Consumption
Country,Year,,,,,,
Bangladesh,2021,7.101988e+10,4.162648e+11,2.220550e+10,4.438540e+10,3.107757e+11,2.448781e+10
Bhutan,2021,1.339263e+09,2.768004e+09,7.336727e+07,8.082223e+08,2.070367e+09,6.275682e+08
India,2021,7.609029e+11,3.150307e+12,8.937515e+10,6.777693e+11,2.277693e+12,3.523791e+11
Nepal,2021,1.400730e+10,3.692484e+10,8.225961e+09,1.890246e+09,3.457168e+10,3.047780e+09
Pakistan,2021,6.265918e+10,3.485166e+11,3.131200e+10,3.154633e+10,3.289737e+11,3.809136e+10
Sri Lanka,2021,2.153965e+10,8.854805e+10,5.522000e+09,1.499396e+10,6.255793e+10,8.374879e+09

In [16]:
df_pooled.shape

(6, 6)

In [23]:
# Independent and Dependent features
x_pooled = df_pooled[['Imports','Remittances','Exports','Consumption','Government Consumption']]
y_pooled = df_pooled['GDP']

In [24]:
# Create a pooled regression model
pooled_model = PooledOLS(y_pooled, x_pooled)

In [25]:
# model fit
pooled_result = pooled_model.fit()

In [26]:
pooled_result

                          PooledOLS Estimation Summary
================================================================================
Dep. Variable:                    GDP   R-squared:                        1.0000
Estimator:                  PooledOLS   R-squared (Between):              1.0000
No. Observations:                   6   R-squared (Within):               0.0000
Date:                Tue, Mar 05 2024   R-squared (Overall):              1.0000
Time:                        12:49:39   Log-likelihood                   -135.32
Cov. Estimator:            Unadjusted
                                        F-statistic:                   1.501e+05
Entities:                           6   P-value                           0.0020
Avg Obs:                       1.0000   Distribution:                     F(5,1)
Min Obs:                       1.0000
Max Obs:                       1.0000   F-statistic (robust):          1.501e+05
                                        P-value                           0.0020
Time periods:                       1   Distribution:                     F(5,1)
Avg Obs:                       6.0000
Min Obs:                       6.0000
Max Obs:                       6.0000

                                   Parameter Estimates
==========================================================================================
                        Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------
Imports                   -3.6150     4.1215    -0.8771     0.5416     -55.984      48.754
Remittances                6.5557     7.1171     0.9211     0.5261     -83.876      96.988
Exports                    7.2202     5.2999     1.3623     0.4031     -60.122      74.562
Consumption                1.1650     0.1762     6.6105     0.0956     -1.0743      3.4044
Government Consumption    -6.3344     2.0836    -3.0401     0.2023     -32.809      20.141
==========================================================================================
PanelResults, id: 0x1eb031894d0

In [29]:
pooled_result.predict()

                 fitted_values
Country    Year
Bangladesh 2021   4.162537e+11
Bhutan     2021  -8.814580e+07
India      2021   3.150356e+12
Nepal      2021   3.790940e+10
Pakistan   2021   3.485076e+11
Sri Lanka  2021   8.642606e+10